<h1 class='product_list_header' align='center'>Hey <%= @user.email %>, these are your saved items being tracked...</h1>

<% @orders.each do |website, product| %>
  <div class='product_list_div'>
    <ul align='center' style="list-style-type: none">
      <li class='product_list'><strong><%= website %></strong></li>
      <% product.each do |each_product| %>
        <li class='product_list'><%= each_product.name %>: £<%= each_product.price %></li>
        <li class='product_list'><%=link_to each_product.product_url, each_product.product_url %></li>
      <% end %>
    </ul>
  </div>
<% end %>
