<% flash.each do |key, value| %>
  <div align='center' class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<h1 class='product_list_header' align='center'>
  <strong>
    Hey <%= current_user.email %>, these are your items being tracked...
  </strong>
</h1>

<% @orders.each do |website, product| %>
  <div class='container'>
    <h2 class='product_item_header'><%= website %></h2>
    <ul align='center' style="list-style-type: none">
      <% product.each do |each_product| %>
        <%= link_to(each_product.product_url, target: :_blank) do %>
          <div class='product_list_div'>
            <li class='product_li'><strong><%= each_product.name %></li>
              <li class='product_li'><strong>£<%= each_product.price %></strong></li>
              <li class='product_li'><%= image_tag(each_product.image_url) %></li>
            </div>
          <% end %>
        <% end %>
    </ul>
  </div>
<% end %>
