<div class='container'>
<h1 align='center'>What other users are monitoring...</h1>

<div class='config_nav home_filter'>
  <ul>
    <li class="filters">
      <%= link_to "Next page--->", '/', method: "get" %>
    </li>
  </ul>
</div>

<div>
  <ul class='product_list_ul' align='center' style="list-style-type: none">
    <% @products.each do |product| %>
      <div class='product_list_div'>
        <li class='product_name_li'><strong><%= product.name %></strong></li>
        <li class='price_li'>
          <% if product.sale_price.present? %>
            £<%= product.price %>
          <span>SALE: £<%= product.sale_price %></span>
        <% else %>
          <strong>£<%= product.price %></strong>
        <% end %>
        </li>
        <li class='product_li'>
          <%= link_to image_tag(product.image_url, class: "product_img"),
            product.product_url,
            target: :_blank
          %>
      </li>
      </div>
    <% end %>
  </ul>
</div>

<div class='config_nav home_filter'>
  <ul>
    <li class="filters">
      <%= link_to "Next page--->", '/', method: "get" %>
    </li>
  </ul>
</div>
