<% flash.each do |key, value| %>
  <div align='center' class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<div align='center'>
  <% if @product_website.errors.any? %>
    <% @product_website.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <h1 align='center'>Add new website</h1>

  <%= form_for :product_website do |f| %>
    Website URL:<br> <%= f.text_field :website_url %></br>
    Title:<br> <%= f.text_field :title_xpath, value: '//meta[contains(@property,"title")]/@content', maxlength: "41" %></br>
    Image:<br> <%= f.text_field :image_xpath, value: '//meta[contains(@property,"image")]/@content', maxlength: "41" %></br>
    Product price tag:<br> <%= f.text_field :price_xpath, value: '//meta[contains(@property,"price:amount")]/@content', maxlength: "47" %></br>
    Sale price tag:<br> <%= f.text_field :sale_price_xpath, value: '//meta[contains(@property,"price:amount")]/@content', maxlength: "47" %></br>
    <%= f.submit "Submit" %>
  <% end %>
</div>
