<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=0.83">
    <title>PriceScraper</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <h1 class='logo'>
      <a href='/'>Price <span>Monitor</span></a>
    </h1>

    <nav>
    <ul>
      <li>
        <%= link_to("Home", '/') %>
      </li>
        <% if current_user %>
          <li>
            <%= link_to "Items", user_path(current_user.id) %>
          </li>
        <li>
        <%= link_to "Add Product", new_product_path %>
        </li>
        <% if admin? %>
          <li>
          <%= link_to "Add Website", new_product_website_path %>
          </li>
        <% end %>
        <li>
        <%= link_to(raw('<span>Logout</span>'), '/logout')  %>
        </li>
      <% else %>
        <li>
        <%= link_to(raw('<span>Signup</span>'), new_user_path)  %>
        </li>
        <li>
        <%= link_to(raw('<span>Login</span>'), '/login') %>
        </li>
      <% end %>
      <li>
        <%= link_to(raw('<span>Help</span>'), '/help') %>
      </li>
    </ul>
    </nav>

    <% flash.each do |key, value| %>
      <div align='center' class="<%= flash_class(key) %>">
        <%= value %>
      </div>
    <% end %>

    <%= yield %>

    <footer>
    <p class='footer_p'>Created by: Peter Hartshorn</p>
    </footer>

  </body>
</html>
